<h1>Sprocket \ Cms</h1>

<p>This is a Content Management System for Laravel.</p>

<p>It is incomplete and still in alpha.</p>

<p>Please contact Duncan at <a href="mailto:duncan@sprocket.co.nz">duncan@sprocket.co.nz</a></p>

<h2>Purpose</h2>

<p>Cms will create a administration area for your site that will allow users to edit pages. Pages are stored in a database and can be easily created.</p>

<p>Pages have</p>

<ul>
<li>Title</li>
<li>Content (HTML)</li>
<li>Description</li>
<li>Menu name</li>
<li>Slug for URLs</li>
<li>Parent</li>
</ul>


<p>The can also be set to cacheable, searchable, and hidden.</p>

<p>An uploads directory can also be set if it should be different to the default.</p>

<h2>Modules</h2>

<p>Other systems for blogs, products, news, etc. can be incorporated into this admin. More on this later.</p>

<h2>Install</h2>

<p>Add the package to your composer.json file</p>

<pre><code>"require": {
    "laravel/framework": "4.1.*",
    "sprocket/cms"
    ...
}
</code></pre>

<p>Update composer</p>

<pre><code>composer update
</code></pre>

<p>Add the service provider to your app.php config file</p>

<p><code>'Sprocket\Cms\CmsServiceProvider'</code></p>

<p>You can publish config files using:</p>

<pre><code>php artisan config:publish sprocket/cms
</code></pre>

<p>and assets:</p>

<pre><code>php artisan asset:publish
</code></pre>

<h2>composer.json</h2>

<p>Autoloads classes from the following directories:</p>

<pre><code>controllers, exceptions, handlers, helpers, migrations, repo, seeds, services/validation
</code></pre>

<p>All files within <code>helpers</code> are loaded – this is where command, composer, etc. are set up.</p>

<h2>ServiceProvider</h2>

<p>Adds the &lsquo;cms&rsquo; view Namespace.</p>

<p>Automatically loads files in the Helpers directory –simply drop in a class an off you go.</p>

<h3>Commands</h3>

<p>Loads the CreateUser command</p>

<h3>Filters</h3>

<p>Adds the isSuper filter</p>

<h3>Helpers</h3>

<p>An assortment of functions: isAre, money formatter etc.</p>

<h3>Macros</h3>

<p>Adds Form macros.</p>

<p>Commands are located in the Sprocket/Cms/Commands directory but are loaded from within helper/commands.php</p>

<h2>Aliases</h2>

<p>Creates aliases for some helpers: [&lsquo;Cms&rsquo;, &lsquo;Dev&rsquo;, &lsquo;Time&rsquo;];</p>

<h3>Cms</h3>

<p>Provides Cms related functions, primarily read from Config.</p>

<h3>CmsUser</h3>

<p>Methods relating to the CMS user. Such as <code>CmsUser::isSuper()</code></p>

<h3>Dev</h3>

<p>Provides some useful developer related functions.</p>

<h3>Time</h3>

<p>Provides some useful Time based functions.</p>

<p>Other files can be loaded in the $incl_files – paths from the App src directory.</p>

<h2>Routes</h2>

<p>The package will respond to all &lsquo;/admin&rsquo; routes.</p>

<p>It will also handle &lsquo;/login&rsquo; and &lsquo;/logout&rsquo;, without the admin prefix.</p>

<h2>Helper Functions</h2>

<p>(hasSections()) ? &lsquo;yes&rsquo; : &lsquo;no&rsquo;;</p>

<h2>Helper Class</h2>

<pre><code>(Cms::hasSections()) ? 'yes' : 'no';
(Sprocket\Cms\Helpers\Cms::hasSections()) ? 'yes' : 'no';

(Cms::hasBlog()) ? 'yes' : 'no';
(Cms::pagesMenuTitle());
</code></pre>

<h2>Messages Helper</h2>

<p>There is a messages helper method for retrieving messages from the language file.</p>

<pre><code>Cms::msg('messages.dashboard.welcome');
Lang::get('cms::messages.dashboard.welcome');
trans('cms::messages.dashboard.welcome');
</code></pre>

<h2>User Command</h2>

<p>There is a Artisan to create new users: <code>user:create</code>
It will prompt you for the appropriate details.</p>

<p>To create new commands:
<code>php artisan command:make UserCreate --path=workbench/sprocket/cms/src/sprocket/cms/commands --namespace=Sprocket\\Cms\\Commands</code></p>

<h2>Seeding</h2>

<p><code>php artisan db:seed --class="Sprocket\Cms\Seeds\DatabaseSeeder"</code></p>

<h2>Exceptions</h2>

<pre><code>try {
    throw new ActionNotAllowedException('You are not allowed to do that');
} catch (ActionNotAllowedException $e) {
    return $e-&gt;getMessage();
}
</code></pre>

<h2>Views</h2>

<p>These extend @extends(&lsquo;cms::layouts.main&rsquo;)</p>

<p>There are sections for content, title, css, and js.</p>

<h2>Auth Controller</h2>

<p>This triggers user login, logout and badlogin events. These are processed by Handlers/UserEventHandler</p>

<h2>Configuration</h2>

<h3>Customisation</h3>

<p>A stylesheet can be added to the <code>custom.css</code> config file.</p>

<h2>Views</h2>

<p>All view files are stored in the Views directory and live in the <code>Cms</code> view namespace.</p>

<h3>Nav Bar</h3>

<p>The nav bar is generated from sections in the nav config file. This is then used by the Nav ViewComposer.</p>

<h2>Uploads</h2>

<p>Each page has a setting for the upload directory. It will use <code>uploads</code> if not set.</p>

<p>The redactor plug in will set this based on an input on the page settings page.</p>

<h2>User Settings</h2>

<p>There are two levels of user – a normal user and a <code>Super</code> user.</p>

<p>A <code>isSuper</code> filter is defined.</p>

<h2>Install</h2>

<pre><code>php artisan asset:publish --bench="sprocket/cms-one"
</code></pre>

<p>Many parts of the Admin can be customised with the configs. To publish them run:
    php artisan config:publish sprocket/cms</p>

<h2>Dashboard</h2>

<p>Views can be added to the Dasboard using the &lsquo;dashboard.panels.views&rsquo; config. Use view composers to load data.</p>
