.alert {
	font-weight: bold;
	padding-top: .9em;
	padding-bottom: .9em;
	padding-left: 1em;
	text-shadow: none;
}
.alert i {
	margin-right: .76em;
}

.alert-error{
	background: $alert_error;
}

.alert-info{
	background: $alert_info;
}

.alert-success{
	background: $alert_success;
	background: #72b114;
}
.alert-info, .alert-success, .alert-error {
	border: none;
	color: #fff;
}
.alert-info i, .alert-success i, .alert-error i {
	font-size: 150%;
	font-weight: normal;
}

.alert-dismissable:hover {
	cursor: pointer;
}
