
.btn-info {
	background: $alert_info;
	border-color: $alert_info;

	&:hover {
	background: darken($alert_info, 5%);
	border-color: darken($alert_info, 5%);
	}
}

.btn-danger {
	background: $alert_error;

	&:hover {
	background: darken($alert_error, 5%);
	border-color: darken($alert_error, 5%);
	box-shadow: 0 1px 4px $alert_error;
	}
}

.btn-success {
	background: $alert_success;

	&:hover {
	background: darken($alert_success, 5%);
	border-color: darken($alert_success, 5%);
	}
}
