.dashboard-panel {
	height: 30em;
	margin-top: .1em;
	margin-bottom: 1em;
	overflow: auto;
	padding-bottom: 1.1em;
	padding-left: 0;
	padding-right: 0;
	font-weight: bold;

	i {
		color: #fff;
	}
	div a {
		&:hover, &:hover i {
			color: $blue;
		}
	}
}

.dashboard-panel h4 {
	font-size: 120%;
	i {
	vertical-align: baseline;
	}
	a {
	display: block;
	text-decoration: none;
		&:hover {
			color: #fff;
		}
	}
}
