textarea#redactor {
	background: #333;
	color: #fff;
	font-family: Monaco, monospace;
	line-height: 1.7em;
	padding: .5em;
	border-radius: 0;
	outline: none;
}

ul.nav-tabs#editor_tabs li a {
	color: #333;
}
.tab-pane {
	background: #fafafa;
}

ul.nav-tabs#editor_tabs li.active a {
	color: #428BCA;
	border-bottom: 1px solid #428BCA;
	border-bottom: 1px solid #fafafa;
	background-color: #fafafa;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(250, 250, 250)));
	background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(250, 250, 250));
	background-image: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(250, 250, 250));
	background-image: -o-linear-gradient(top, rgb(255, 255, 255), rgb(250, 250, 250));
	background-image: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(250, 250, 250));
	background-image: linear-gradient(top, rgb(255, 255, 255), rgb(250, 250, 250));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#fafafa');
}

.btn-toolbar .btn-default.btn-hover-warning:hover {
	background-color: #d9534f;
	border-color: #d43f3a;
	color: #fff;
}
.btn-toolbar .btn-default.btn-hover-success:hover {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}



/* tabs */

.tab-pane {
	min-height: 500px;
	border: 1px solid #ddd;
	border-width: 0 1px 1px;
	padding: 1em;
	border-radius: 0 0 .2em .2em;
}
.nav-tabs {
	margin-bottom: 0;
}
.nav-tabs li a {
	outline: none;
	text-transform: capitalize
	}

.tab-pane {
	min-height: 440px;
}
.nav-tabs > li {
	min-width: 130px;
	text-align: center;
}

.tab-pane, table {
	background: #fff;
}

.tab-pane h4 {
	padding-top: 5em;
}
.tab-pane h4:first-child {
	padding-top: 0px;
}

/* tabs */
.nav-tabs > li > a {
	font-weight: bold;
}
