@font-face {
	font-family: 'oxygenbold';
	src: url('../fonts/oxygen-bold-webfont.eot');
	src: url('../fonts/oxygen-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/oxygen-bold-webfont.woff') format('woff'),
		 url('../fonts/oxygen-bold-webfont.ttf') format('truetype'),
		 url('../fonts/oxygen-bold-webfont.svg#oxygenbold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'oxygenregular';
	src: url('../fonts/oxygen-webfont.eot');
	src: url('../fonts/oxygen-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/oxygen-webfont.woff') format('woff'),
		 url('../fonts/oxygen-webfont.ttf') format('truetype'),
		 url('../fonts/oxygen-webfont.svg#oxygenregular') format('svg');
	font-weight: normal;
	font-style: normal;

}
