
.form-actions {
	clear: both;
	margin-top: 3em;
	border-top: 1px solid #ddd;
	padding: 1em;
	background: #eee;
}

.form-row-group {
	margin-top: 1.6em;
	/*margin-bottom: 1.6em;*/
	border-top: 1px solid #ddd;
	padding-bottom: 1.67em;
	padding-top: .5em;
}
.form-row {
	overflow: auto;
	padding-bottom: .7em;
	padding-top: .7em;
}

.help-block {
	margin: 2px 4px;
	color: #999;
	font-size: 90%;
	text-align: right;
}

