article#help {
	margin-bottom: 10em;

	h3 {
		padding: .5em;
		margin: 3em 0 .4em;
		text-transform: uppercase;
		font-size: 1.1em;
		font-weight: bold;
		clear: both;
		background: $alert_info !important;
		color: lighten($alert_info, 60%) !important;
		border-radius: 2px;
		&.hilite {
			background: lighten($alert_info, 20%) !important;
		}
	}
}
