.navbar-default {
	background-color: #424242;
}

.navbar .nav > li > a {
	font-weight: bold;
	color: #eee;
	padding: 10px 30px;
	min-width: 120px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-bottom: 4px solid #424242;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	transition: all 200ms linear;

	&:hover {
	border-bottom: 4px solid $purple;
	color: #fff;
	background-color: #333;
	}
}

/* dropdown */
ul.dropdown-menu {
	min-width: 180px;
	padding: 10px 15px;
	margin-top: 0px;
	border-radius: 0 0 3px 3px;
	background: rgba(0,0,0,.95);
	border-top: none;
	box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.2);

	li a {
		color: #fff;
		font-weight: bold;
		padding: 8px;
		border-radius: 3px;
	}
}

#nav-avatar {
	img {
		border: 1px solid #333;
		margin: 10px;
		width: 40px;
		height: 40px;
		-webkit-transition:all 0.5s ease-out;
		transition:all 0.5s ease-out;

		&:hover {
		  -webkit-transform:rotate(180deg);
		  transform:rotate(180deg);
		}
	}
}
.down {
	background-color: #111;
	border-radius: 5px 5px 0 0;
	-webkit-transition: background-color 500ms linear;
	-moz-transition: background-color 500ms linear;
	-o-transition: background-color 500ms linear;
	-ms-transition: background-color 500ms linear;
	transition: background-color 500ms linear;
}

.cms-nav-message {
	color: rgb(230, 126, 34);
	text-transform: uppercase;
	font-size: 90%;
	font-weight: bold;
	padding: 22px 5px 0 0 ;
}
