:focus {outline:none;}
::-moz-focus-inner {border:0;}
a, :focus { outline: none;}

button i { font-weight: bold; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {border: none;}

time { cursor: pointer; }
