table.table-notebook {

	.notebook-title {
		color: darken($lightblue, 10%);

	}

	tr td {
		vertical-align: middle;
		border: 1px solid lighten($lightblue, 33%);
		line-height: 1.1;
	}

	tr td:first-child
	{
	    border-right: 1px double lighten(red, 30%);
	    text-align: center;
	}

	tbody tr:nth-child(odd) td
	{
		background: lighten($lightblue, 43%);
	}

	tbody tr:hover td {
	   background-color: lighten($lightblue, 35%);
	}

	small {
		color: desaturate($blue, 30%);
	}

}
