
/* headers */
h1 {
	color: #666;
	color: $blue;
	font-weight: normal;
	font-family: 'oxygenregular';
	font-size: 170%;
	margin: 0;
	padding: 0;
}

h1 small {
	color: $lightblue;
	text-transform: uppercase;
	font-size: .8em;
	padding: 0 1em;
}

h4 {
	color: #666;
	font-weight: normal;
	font-family: 'oxygenbold';
}



a:hover {
	text-decoration: none;
}

//* * * * * *  fonts * * * * * * * * *//

@font-face {
	font-family: 'oxygenbold';
	src: url('../fonts/oxygen-bold-webfont.eot');
	src: url('../fonts/oxygen-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/oxygen-bold-webfont.woff') format('woff'),
		 url('../fonts/oxygen-bold-webfont.ttf') format('truetype'),
		 url('../fonts/oxygen-bold-webfont.svg#oxygenbold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'oxygenregular';
	src: url('../fonts/oxygen-webfont.eot');
	src: url('../fonts/oxygen-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/oxygen-webfont.woff') format('woff'),
		 url('../fonts/oxygen-webfont.ttf') format('truetype'),
		 url('../fonts/oxygen-webfont.svg#oxygenregular') format('svg');
	font-weight: normal;
	font-style: normal;

}
