/*
border-bottom: 2px solid #e3e3e3;
border-bottom: 2px solid #9b59b6;
border-bottom: 2px solid #2980b9;
 */

$purple: #9b59b6;
$blue: #2980b9;
$lightblue: #3498db;

$alert_error: rgb(255, 67, 29);
$alert_info: #2095f0;
$alert_success: rgb(75, 149, 51);
