@import 'resets';
@import 'variables';
@import 'buttons';
@import 'dashboard';
@import 'alerts';
@import 'editor';
@import 'forms';
@import 'help';
@import 'type';
@import 'panels';
@import 'preview';
@import 'tables';
@import 'nav';

body {
	padding-top: 80px;
	background: #ccc url('/packages/sprocket/cms/img/bg/random_grey_variations.png') repeat fixed;
	background: #eee url('/packages/sprocket/cms/img/bg/snow.png') repeat fixed;
	background: #dfdfdf;
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
	line-height: 1.5;
}

.content-wrap {
	background: #fefefe;
	border-radius: 7px;
	padding: 20px 20px 80px;
	margin-bottom: 40px;
	min-height: 500px;
	border-radius: 7px;
	position: relative;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
}

.footer-details {
	font-size: 90%;
	text-align: center;
	padding: 1em 0 0;
	width: 100%;
	display: block;
	position: absolute;
	bottom: -5em;
}

.footer-details:hover {
}


div.header {
	background-color: #fbfbfb;
	border-bottom: 2px solid $blue;
	padding: .4em .6em;
	padding: 15px 20px;
	border-radius: 6px 6px 0 0;
	margin: 0 0 .4em;
	margin: -20px -20px 30px;

	background-color: #fefefe;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(254, 254, 254)), to(rgb(242, 242, 242)));
	background-image: -webkit-linear-gradient(top, rgb(254, 254, 254), rgb(242, 242, 242));
	background-image: -moz-linear-gradient(top, rgb(254, 254, 254), rgb(242, 242, 242));
	background-image: -o-linear-gradient(top, rgb(254, 254, 254), rgb(242, 242, 242));
	background-image: -ms-linear-gradient(top, rgb(254, 254, 254), rgb(242, 242, 242));
	background-image: linear-gradient(top, rgb(254, 254, 254), rgb(242, 242, 242));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fefefe', EndColorStr='#f2f2f2');

	} // header


/* buttons */
.btn {
	font-weight: bold;
}


.table td {
	line-height: 1.3;
}

table h5 {
	margin: 0;
	p {
		line-height: 1.2;
	}
}

/*.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {*/
.table-hover tbody tr:hover td {
	background: #DDF0FD;
	}

.modal {
	background-color: rgba(0,0,0,0.4);
	z-index: 2000;
}


/* interferres with Redactor fullscreen plug in*/
.navbar-fixed-top {
  z-index: 1100 !important;
}
