<h1>Help!</h1>

<p>There are two parts of your web site – the &lsquo;public&rsquo; part, that your visitors see, and the &lsquo;admin&rsquo; part, that allows you to make changes to the site.</p>

<p>Note: if you try to access a page within the administration area when you are not logged it, it will direct you to the log in page, then onto the requested page.</p>

<p>You will be shown the Dashboard, which will list your pages and recent blog posts. It will also tell you when you last logged in – this is so you can keep an eye on unwanted log ins.</p>

<p>Along the top are links to the sections of your admin area.</p>

<h2>Logging Out</h2>

<p>To log out choose &lsquo;log out&rsquo; from the cog in the upper right corner. You will be automatically logged out after a period of inactivity but it is always a good idea to log out manually to ensure against unauthorised access.</p>

<h2>Pages</h2>

<p>To edit a web page click on the &lsquo;Pages&rsquo; link at the top or on a page listed in the panel. This will show you the page editor with your selected page.</p>

<p>The &lsquo;Pages&rsquo; section will show you a list of the pages within your web site.</p>

<p>It will show you the page title, link and when it was last edited. The link will take you to the &lsquo;public&rsquo; web site. You can preview a page with the preview button or edit it with the &lsquo;Edit&rsquo; button.</p>

<h3>Editing Pages</h3>

<p>Edit the text as required.</p>

<p>The Settings tab gives you options for options like the Menu text, sort order, etc.</p>

<p>Once you have finished editing the page click the &lsquo;Save&rsquo; button. If you do not want to save the changes then click &lsquo;Cancel&rsquo;</p>

<p>To the right there are some &lsquo;quick action&rsquo; buttons.</p>

<p>From left to right:
Reload - this will reload the current page, discarding any changes you may have made. 
Cancel - takes you back to the previous page without saving changes. 
Quick Save - this will save changes you have made while allowing you to continue editing. Save - saves the page and takes you to the Pages section.</p>

<p>Reload and Cancel highlight in red as the changes are destructive and you can lose changes to your web page.</p>

<h2>Blog</h2>

<p>Your site has a blogging system built into it. It works in a similar way to the Page editor but with some differences.</p>

<p>A Blog Post is similar to a page but won&rsquo;t show up in the main navigation menu. Posts also have some categorising features to allow your visitors to find content they are interested in.</p>

<p>Each post belongs to a single category. These can be created and edited in your admin. A post can only ever belong to one category.</p>

<p>Posts also have one or more tags – these are added arbitrarily and a post can have as many as you like. A &lsquo;tag cloud&rsquo; will be made allowing visitors to view other related posts.</p>

<p>The Blog admin page will list the posts, starting with the most recent.</p>

<p>Click on the &lsquo;New Post&rsquo; button, this will take you to the post create page.</p>

<p>You have options to add a title, the post body and tags.</p>

<p>Tags are separated by commas and should automatically split up.</p>

<p>A blog post can be published immediately or you can save it as a draft to published later.</p>

<p>Formatting options are the same as pages.</p>
